rag/Demo_6_Ultimate_RAG_ingest.json
{
  "name": "Demo 6 Ultimate RAG ingest",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "c:/ws/test",
        "events": [
          "add",
          "change",
          "unlink"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -80
      ],
      "id": "e97327cb-f04a-49a1-9128-484fefc38dcc",
      "name": "Local File Trigger",
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path.replace(/\\\\/g, \"/\")  }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -340,
        -80
      ],
      "id": "297cb970-ea09-487a-8439-ba2c41e127cd",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        220,
        -120
      ],
      "id": "bd7cdbdb-765e-4f14-8f0f-be962d847605",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "1D49f5mS8B00IuIZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        140,
        100
      ],
      "id": "eb6c9e98-b999-4623-a116-4b0ea03bc7be",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "b8riQ6dcksUX2W3b",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file",
                "value": "={{ $json.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        320,
        120
      ],
      "id": "3a6ec27b-ebf7-456d-afa8-c909dcf4d57d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        420,
        340
      ],
      "id": "a1418b9d-8a98-4cbe-90e5-0be344e0a3df",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file=eq.{{ $('Local File Trigger').item.json.path.substring($('Local File Trigger').item.json.path.lastIndexOf(\"\\\\\") + 1) }}"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -180,
        -140
      ],
      "id": "769bdb44-aa22-40ac-8d46-b00aacec34e6",
      "name": "Supabase",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "1D49f5mS8B00IuIZ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "c:/ws/test/*",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -20,
        180
      ],
      "id": "f88eeb89-67d7-49ed-88d0-8f75c54e1d8c",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -20,
        -140
      ],
      "id": "a72f7afa-ef91-4efe-9473-971549267487",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7255dc5-9b93-40f0-99b4-8c34c54676db",
              "leftValue": "={{ $('Local File Trigger').item.json.event }}",
              "rightValue": "unlink",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -200,
        340
      ],
      "id": "bc242b4b-dac8-4e9a-abe6-ad7f390ca43a",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bb672b84-a51f-4ac0-946c-1da88e83d356",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8daa7eca8931b47d3b5f8a371e114cee6261bd29b701ad0b510bfc2c8da8c39"
  },
  "id": "b60ecsZkpcE3d1mt",
  "tags": []
}